# Node modules
node_modules/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.*.local

# Dependency directories
.pnp
.pnp.js

# Others
*.local
*.log
*.tsbuildinfo

# Vite cache
.vite/
